.editDegree__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  .editDegree__container {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    margin-bottom: 50px;
    width: 100%;
    overflow-y: auto;

    .editDegree__container--form {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 43px 36px 18px 36px;
      input {
        width: 100%;
        height: 56px;
        background: none;
        color: var(--saukko-main-black);
        border: 2px solid var(--saukko-main-black);
      }
      textarea {
        padding: 7px;
        color: var(--saukko-main-black);
        border: 2px solid var(--saukko-main-black);
      }
    }
    h4 {
      text-align: center;
    }
  }
}
